.lawyer-login-form-onerrrr{
    font-size:25px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

    @media (max-width: 600px) {
        input[type="passwordd"]{
          width:10px
      
        }
        input[type="email"]{
          width:80%
      
        }
        
      }
    
  