.a{
   margin-right: 20%;
    margin-bottom: -470px;
height:40px;
}
.atwo{
    height:40px;
    margin-top:200px; 
    margin-left:-490px;
}

.b{
    height:40px;
    margin-left:-510px;
    margin-bottom: -530px;


}
.c{
    height:40px;
    margin-left:-720px;
    margin-bottom: -650px;


}
.affidoc{
    font-weight:bold;
    margin-left: 650px;
}
.vaqalllat{
    font-weight:bold;
}
.wit{
    font-weight:bold;
}

.d{
    height:40px;
    margin-top: 320px;
    margin-left: -620px;



}
.mm{
    height:40px;
}
.e{
    height:40px;
    margin-top: 320px;
    margin-left: -915px;

}
.f{
    height:40px;
    margin-top: 150px;
    margin-left: -1250px;

}
.gg{
    height:40px;
    margin-top: 470px;
    margin-left: -1260px;


}
.aaaone{
    height:40px;
    margin-top: 150px;
    margin-left: -290px;
}
.aaatwo{
    height:40px;
}
.h{
    height:40px;
    margin-top: 200px;
    margin-left: -1465px;


}
.i{

    height:40px;
    margin-top: 260px;
    margin-left: -1680px;



}
.j{
    height:40px;
    margin-top: 320px;
    margin-left: -1898px;

}
.aaa{
    height:40px;
    margin-top: 370px;
    margin-left: -940px;

}
.k{
    height:40px;
    margin-top: 650px;
    margin-left: -1890px;

}
.l{
    height:40px;
    margin-top: 370px;
    margin-left: -2110px;

}
.m{
    height:40px;
    margin-top: 200px;
    margin-left: -2210px;
}
.n{
    height:40px;
    margin-top: 260px;
    margin-left: -2420px;
}
.o{
    height:40px;
    margin-top: 750px;
    margin-left: -2540px;
}
.op{
    height:40px;

}
.nn{
    margin-left: -2650px;
    height:40px;
    margin-bottom:-300px
}
.pathg{
     height:40px;
     margin-left: -20px;
}
.last{
    margin-left: -2850px;
    height:40px;
    margin-bottom:-750px
}
/* .p{
    height:40px;
    margin-top: 750px;
    margin-left: -2540px;
} */