.pdf-witness{
    height:40px;
    margin-left:3px;
    margin-top:60px
   
}
.pdf-vq{
    height:40px;
    margin-left:-230px;

}

.pdf-aff{
    height:40px;
    margin-left:-10px;

}
.pdf-vqtwo{
    height:40px;
    margin-left:-200px

}


.pdf-affthree{
    height:40px;
    margin-left: -290px;
}
.pdf-vaqaltthree{
    height:40px;
    margin-left: -200px;


}
.pdf-witthree{
    height:40px;
    margin-left: -150px;

}
.pdf-afffour{
    height:40px;
    margin-top: -20px;
    margin-left: -280px;
}
.pdf-vaqalfour{
    height:40px;
    margin-top: -20px;

    margin-left: -200px;
}

.pdf-afffive{
    height:40px;
    margin-left: -290px;
    margin-top: -10px;

}
.pdf-vfive{
    height:40px;
    margin-left: -200px;
}
.pdffsff-wfive{
    height:40px;
}
.pdf-wfive{
    height:40px;
    margin-bottom: -20px
}
/* .pdf-wfive{
    height:40px;
    margin-left: -100px;

} */

.pdf-afftwo{
    height:40px;  
    margin-left:-280px;
}
.affone{
    margin-top:-470px;
    margin-left:210px;

}
.vaqalone{
    margin-top:-85px;
    margin-left:740px
}

.wone{
    margin-top:-100px;
    margin-left:890px
}
.pdf-witness-one{
    height:40px;
    margin-bottom: -112px;
    /* margin-top:10px; */
    margin-left: -70px;
}
.wtwo{
    margin-top:-100px;
    margin-left:900px
}
.pdf-witnesstwo{
    height:40px;
    margin-left:-70px;
    margin-bottom: -100px;
    /* margin-bottom: 140px; */


}
.wfour{
    margin-top:-100px;
     margin-left:920px
 }
 .pdff-witfour{
    /* margin-top: -20px; */
    margin-left: -80px;
    margin-bottom: -100px;

    height:40px;
}
.wfive{
    margin-top:-100px;
     margin-left:910px
 }

.pdff-wfive{
    height: 40px;
    margin-bottom:-100px;
    margin-left: -80px;

}
.wtthree{
    margin-top:-90px;
    margin-left:910px;
}
.pdf-witthree{
    height:40px;
    margin-left:-80px;
    margin-bottom: -90px;
}
.pdfhj-witness{
    height:40px
}

.afftwo{
   margin-top:50px;
    margin-left:490px
}
.vaqaltwo{
    margin-top:-85px;
    margin-left:710px
}




.affthree{
    margin-top:30px;
     margin-left:500px
 }
 .vaqalthree{
    margin-top:-80px;
     margin-left:710px
 }
 
 .wthree{
    margin-top:-70px;
     margin-left:870px
 }
 
 .afffour{
    margin-top:30px;
     margin-left:490px
 }
 .vaqalfour{
    margin-top:-80px;
     margin-left:710px
 }
 
 

 .pdfone-aff{
     height:40px;
     margin-top:-10px;

 }
 .aff{
    margin-left:500px;
    margin-top:35px;


 }
 /* .afffive{
    margin-top:-300px;
     margin-left:550px
 } */
 .vaqalfive{
    margin-top:-80px;
     margin-left:710px
 }
 
 

.pdff-witfour{
    height: 40px;
    margin-left: -90px;
}
 .namecms{
     font-weight: bold;
     margin-left: -100px;
     font-size:18px
 }
.partycms{
    font-weight: bold;
     margin-left: -120px;
     font-size:18px
}

.afficms{
    font-weight: bold;
    margin-left: 170px;
    font-size:18px
}

.vaqalat-caserecordscms{
    font-weight: bold;
    font-size:18px
}
.witness-caserecordscms{
    font-weight: bold;
    font-size:18px;


}
.oneeee{
    margin-left: 50%;
}
textarea[type="textnameCaserecord"]{
    width:130px;
    margin-left:-210px;
}

textarea[type="textpartynamecaserecord"]{
  
    margin-left:-295px;
    
}
.partyname-caserecordscms{
    font-weight: bold;
    font-size:30;
    margin-left: -80px;
}
.affidavit-caserecordscms{
    margin-left: 120px;
}

.vaqalat-caserecordscms{
    margin-left: 130px;
    margin-left: 180px;
}

.witness-caserecordscms{
    margin-left: 50px;
    margin-left: 200px;
}
.pdf-affiafiidavit{
    margin-right:-50px;
    margin-left: 34px;
    height:40px;
}

.pdf-affiwitness{
    height:40px;
    /* margin-left:-20px; */
    margin-right:-51px;
    margin-left: -20px;
    /* margin-left:-190px; */
}
.pdf-affivaqalat{
    height:40px;
    /* margin-left: -1px; */
    margin-right: -51px;
    margin-left: -8px;
}
.pdf-affihhh{
    margin-left: 90%;
}
.filllll{
    margin-top:60px
}
.btn-update-cmsss{
    margin-left:600px;
    background-color:rgb(197, 13, 13);
    color:white;
    font-weight: bold;
    text-align: center;
    margin-top:-30px;
    width:90px;
    height:30px;


}
.cmsupdatedfileupload{
    margin-left: 600px;
    margin-top: 60px;
    background-color:rgb(197, 13, 13);
    border:none;
    color:white;
    font-weight: bold;
    height:30px;
}